{% extends 'core/base.html' %}

{% block title %}Edit account{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">Edit account</h1>

    <form method="post" action="." class="space-y-3">
        {% csrf_token %}
        
        <div>
            <label>First name</label>
            <input name="first_name" value="{{ request.user.first_name }}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-100 rounded-xl">
        </div>

        <div>
            <label>Last name</label>
            <input name="last_name" value="{{ request.user.last_name }}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-100 rounded-xl">
        </div>

        <div>
            <label>Username</label>
            <input name="username" value="{{ request.user.username }}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-100 rounded-xl">
        </div>

        <div>
            <label>E-mail</label>
            <input name="email" value="{{ request.user.email }}" type="email" class="w-full mt-2 py-4 px-6 bg-gray-100 rounded-xl">
        </div>

        <!--{% if user.is_consumer %}
            <div>
                <label>Genres</label>
                <input name="categories" value="{% for category in categories %}{{ category }} {% endfor %}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-100 rounded-xl">
            </div>
        {% endif %}-->

        {% if user.is_supplier %}
            <div>
                <label>Phone number</label>
                <input name="phone_number" value="{{ supplier.phone_number }}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-100 rounded-xl">
            </div>

            <div>
                <label>Designation</label>
                <input name="designation" value="{{ supplier.designation }}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-100 rounded-xl">
            </div>
        {% endif %}

        <div>
            <button class="py-4 px-6 rounded-xl text-white bg-purple-500">Submit</button>
        </div>
    </form>
</div>
{% endblock %}