{% extends 'core/base.html' %}

{% block title %}My account{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">My account</h1>

    <div class="mb-6">
        <strong>Name: </strong>{{ request.user.get_full_name }}<br>
        <strong>Username: </strong>{{ request.user.username }}<br>
        <strong>E-mail: </strong>{{ request.user.email }}<br>
        {% if user.is_consumer %}<strong>Genres: </strong>{% for category in categories %} {{ category }} {% endfor %}<br>{% endif %}
        {% if user.is_supplier %}
            <strong>Phone number: </strong>{{ supplier.phone_number }}<br>
            <strong>Designation: </strong>{{ supplier.designation }}<br>
        {% endif %}

        <a href="{% url 'edit_myaccount' %}" class="inline-block mt-4 py-4 px-6 rounded-xl text-white bg-purple-500">Edit</a>
    </div>

    <hr>

    {% if user.is_consumer %}
        <h2 class="my-6 text-xl">My orders</h2>

        {% for order in orders.all %}   <!--request.user.orders.all-->
            <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
                <div class="mb-6 flex justify-between">
                    <p>Order id: {{ order.id }}</p>
                </div>

                <div class="mb-6 w-full">
                    {% for item in order.items.all %}
                        <div class="product mb-6 flex pr-6">
                            <a href="/shop/{{ item.product.slug }}/" class="w-1/4">
                                <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}">
                            </a>


                            <div class="w-3/4 pl-6">
                                <div class="flex justify-between">
                                    <p class="text-lg">{{ item.product.name }}</p>

                                    <!--<p class="text-lg">{{ item.product.added_by }}</p>   recommendation system-->

                                    <p class="mb-6 pt-1 text-gray-400">€{{ item.get_total_price }}</p>
                                </div>

                                <hr>

                                <div class="mt-6">
                                    quantity: {{ item.quantity }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div>
                    <p class="text-lg">Date: {{ order.created_at }}</p>
                    <p class="text-lg">Total: €{{ order.get_total_price }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}



    {% if user.is_supplier %}
        <h2 class="my-6 text-xl">My products</h2>

        <p class="text-purple-500">Order by</p>
        <li class="filters"><a class="filter_by text-gray-500" href="?created_at=newest">Date-> newest</a></li>
        <li class="filters"><a class="filter_by text-gray-500" href="?created_at=oldest">Date-> oldest</a></li>
        <li class="filters"><a class="filter_by text-gray-500" href="?price=l2h">Prices-> low to high</a></li>
        <li class="filters"><a class="filter_by text-gray-500" href="?price=h2l">Prices-> high to low</a></li>

        <br>

        {% for product in products %}
            <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
                <div class="mb-6 flex justify-between">
                        <a href="/shop/{{ product.slug }}/" class="w-1/4">
                            <img class="hover:shadow-lg rounded-xl" src="{{ product.get_thumbnail }}">
                        </a>
        
                        <div class="w-3/4 pl-6">
                            <div class="flex justify-between">
                                <p class="text-lg">{{ product.name }}</p>
                            </div>
                            {% if product.get_rating > 0 %}<p class="mt-1 text-gray-400">Rating: {{ product.get_rating }} / 6</p>{% endif %}
                            {% if product.get_rewiew_count > 0 %}<p class="mt-1 text-gray-400">Reviews: {{ product.get_rewiew_count }}</p>{% endif %}
                            

                            <!--<form method="post" class="space-y-3">
                                {% csrf_token %}
                                {{ form.as_p }} 
                                <input type="submit" value="Save"> 
                                <button class="py-3 px-4 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Edit</button>
                            </form>-->


                            <form method="post" action="{{product.id}}/delete/" class="space-y-3"> <!--action"."-->
                                {% csrf_token %}
                                <button class="py-3 px-4 rounded-xl text-white bg-red-500 hover:bg-red-700"
                                onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
                            </form>

                        </div> 

                </div>
            </div>
        {% endfor %}

    {% endif %}

</div>
{% endblock %}