{% extends 'core/base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="filters w-full lg:w-1/4">
        <h3 class="mb-3 text-xl uppercase">Search</h3>

        <form method="get" action=".">
            <div class="flex">
                <input type="text" name="query" class="p-4 bg-gray-100 border-0" placeholder="Search...">

                <button class="p-4 bg-gray-100 border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </button>
            </div>
        </form>

        <h3 class="mt-6 mb-3 text-xl uppercase">Categories</h3>

        <ul class="space-y-2">
            <li><a href="{% url 'shop' %}" class="{% if not active_category %}text-purple-500{% else %}text-gray-500{% endif %}">All categories</a></li>

            {% for category in categories %}
                <li><a href="{% url 'shop' %}?category={{ category.slug }}" class="{% if category.slug == active_category %}text-purple-500{% else %}text-gray-500{% endif %}">{{ category.name }}</a></li>
            {% endfor %}

            <br>

            <p class="text-purple-500">Order by</p>
            <li class="filters"><a class="filter_by text-gray-500" href="?price=l2h">Prices-> low to high</a></li>
            <li class="filters"><a class="filter_by text-gray-500" href="?price=h2l">Prices-> high to low</a></li>
            <!--<li class="filters"><a class="filter_by text-gray-500" href="?rating=l2h">Rating-> low to high</a></li>
            <li class="filters"><a class="filter_by text-gray-500" href="?rating=h2l">Rating-> high to low</a></li>-->

        </ul>
    </div>

    <div class="products w-full lg:w-3/4 -mt-4 flex items-center flex-wrap">
        {% for product in products %}
            {% include 'product/partials/product_list_item.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}