{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class=" mx-auto flex flex-wrap p-12">
    <div class="w-full bg-gray-100 p-12 rounded-xl">
        <h1 class="mb-6 text-2xl">Sign up as supplier</h1>

        <form action="{% url 'supplier_register' %}" class="space-y-3"  method="POST" novalidate>
            {% csrf_token %}
                {{form}}
                <div>
                    <button class="py-4 px-6 rounded-xl text-white bg-purple-500 hover:bg-purple-700"
                    onclick="return confirm('Confirm submit?')">Submit</button>
                </div>
        </form>
          
    </div>
</div>
{% endblock %}