{% extends 'core/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img 
            class="rounded-xl" 
            src="{% if product.image %}{{ product.image.url }}{% else %}https://via.placeholder.com/240x240x.jpg{% endif %}"
        >
    </div>

    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl">{{ product.name }}</h1>

        <p class="mt-1 text-gray-400">€{{ product.get_display_price }}</p>

        {% if product.get_rating > 0 %}
            <p class="mt-1 text-gray-400">Rating: {{ product.get_rating }} / 6</p>
        {% endif %}

        {% if product.description %}
            <p class="mt-6 text-gray-700">
                {{ product.description }}
            </p>
        {% endif %}

        {% if not user.is_supplier %}
            <a 
                href="#" 
                class="mt-6 inline-block px-8 py-4 rounded-xl bg-purple-500 text-white hover:bg-purple-700"
                hx-get="{% url 'add_to_cart' product.id %}"
                hx-target="#menu-cart-button"
                hx-swap="outerHTML"    
            >
                Add to cart
            </a>
        {% endif %}
    </div>

    <div class="w-full mt-6">
        <h2 class="text-xl">Reviews</h2>

        {% if request.user.is_authenticated and user.is_consumer %}
            <form method="post" action="." class="mt-6 mb-6 p-6 bg-gray-100 rounded-xl">
                {% csrf_token %}

                <div>
                    <label>Rating (rate 0 for a question)</label><br>
                    <select name="rating">

                        <option value="0">0</option>  <!--if 0 then question for the supplier -->

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>

                <br>

                <div>
                    <label>Comment</label><br>
                    <textarea name="content"></textarea>
                </div>

                <br>

                <div>
                    <button class="py-3 px-4 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Submit</button>
                </div>
            </form> 
        {% endif %}

        {% for review in product.reviews.all %}
            <div class="px-4 py-6 bg-gray-100 rounded-xl mb-4">
                {% if review.rating != 0 %}
                    <strong>Rating:</strong> {{ review.rating }}/6<br>
                {% else %}
                    <strong>Question for the supplier</strong><br>
                {% endif %}

                <strong>Date:</strong> {{ review.created_at|date:"Y-m-d" }}<br>
                <strong>Comment:</strong> {{ review.content }}<br>
                
                {% if not rewiew.answer %} <!--check   product.added_by-->
                    <strong>Answer:</strong> {{ review.answer }}
                    {% if user.is_supplier and product.added_by_id == user.id and not review.answer %}
                        <form method="POST" action="."> <!--class="mt-6 mb-6 p-6 bg-gray-100 rounded-xl"-->
                            {% csrf_token %}
                            <div>
                                <textarea name="answer"></textarea>    
                                <input type="hidden" name="review_id" value="{{ review.id }}">                     
                            </div>

                            <div>
                                <button class="py-3 px-4 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Submit</button>
                            </div>
                        </form> 

                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
